<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div id="content">  <!--这个模板也是用来加载子页面用的-->
        @RenderBody()
    </div>
</body>
</html>
